* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.card {
  border: solid 1px #000;
  border-radius: 5px;
  height: 350px;
  width: 275px;
}

.container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  border-radius: 5px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  outline: solid 1px #000;
  width: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.reset-button,
.update-button {
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  main {
    width: 90%;
  }
}

@media (max-width: 400px) {
  main {
    width: 100%;
  }
}
